{:deps    {:aliases [:cljs]}
 :builds  {:app {:target     :browser
                 :output-dir "resources/public/js"
                 :asset-path "/js"
                 :modules    {:app {:init-fn mino-site.client.core/init}}
                 :devtools   {:autoload true}}}}
